.App {
  text-align: center;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }



  .hero-banner-img{
    display: none;
  }

  .exercises-Card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media screen and (max-width:400px) {
  .exercises-Card {
    width: 280px;
  }
}